---
title: Committees
layout: default
---

<h1>AISTATS*2013 Organizing Committees</h1>

{% if site.conference.chairs %}
{% for chair in site.conference.chairs %}
{% include listchairs.html %}
{% endfor %}
{% endif %}

<h2>Senior Program Committee</h2>
<ul>
  <li> <a href="http://research.microsoft.com/en-us/um/people/alekha/"> Alekh Agarwal</a>, Microsoft Research</li>
  <li> <a href="http://www.people.fas.harvard.edu/~airoldi/">Edo Airoldi</a>, Harvard Statistics</li>
  <li> <a href="http://people.ee.duke.edu/~lcarin/"> Lawrence Carin</a>, Duke Univ. ECE</li>
  <li> <a href="http://www.stat.washington.edu/adobra/">Adrian Dobra</a>, Univ. of Washington Statistics</li>
  <li> <a href="http://www.genome.duke.edu/directory/faculty/engelhardt/">Barbara Engelhardt</a>, Duke Univ. Biostats</li>
  <li> <a href="http://www.stat.washington.edu/~ebfox/"> Emily Fox</a>, Univ. of Washington Statistics</li>
  <li> <a href="http://www.cs.huji.ac.il/~gamir/">Amir Globerson</a>, Hebrew Univ. CS</li>
  <li> <a href="http://faculty.chicagobooth.edu/robert.gramacy/">Robert Gramacy</a>, Univ. of Chicago Booth </li>
  <li> <a href="http://www.chicagobooth.edu/faculty/bio.aspx?person_id=33534285824">P. Richard Hahn</a>, Univ. of Chicago Booth</li>
  <li> <a href="http://stat.duke.edu/~kheller/">Katherine Heller</a>, Duke Univ. Statistics</li>
  <li> <a href="http://www-bcf.usc.edu/~gareth/">Gareth James</a>, USC Marshall School, <a href="http://www.amstat.org/sections/sldm/">ASA SLDM</a> Representative</li>
  <li> <a href="http://stat.cornell.edu/~li/">Ping Li</a>, Cornell Univ. Statistics</li>
  <li> <a href="http://www.princeton.edu/~hanliu/">Han Liu</a>, Princeton Univ. </li>
  <li> <a href=""> Dan Merl</a>, Facebook, Inc. </li>
  <li> <a href="http://www.stat.duke.edu/~sayan/Home.html">Sayan Mukherjee</a>, Duke Univ. Statistics</li>
  <li> <a href="http://www.di.ens.fr/~obozinski/">Guillaume Obozinski</a>, L'Ecole Normale Superieure</li>
  <li> <a href="http://www.princeton.edu/~rigollet/">Philippe Rigollet</a>, Princeton Univ.</li>
  <li> <a href="http://users.soe.ucsc.edu/~abel/website/Home/Home.html">Abel Rodriguez</a>, UCSC Statistics</li>
  <li> <a href="http://www2.mccombs.utexas.edu/faculty/james.scott/home/Home.html">James Scott</a>, UT Austin, McCombs School  </li>
  <li> <a href="http://www-bcf.usc.edu/~feisha/">Fei Sha</a>, USC CS</li>
  <li> <a href="http://www.stat.cmu.edu/~cshalizi/">Cosma Shalizi</a>, CMU Statistics</li>
  <li> <a href="http://research.microsoft.com/en-us/um/people/ohadsh/">Ohad Shamir</a>, Microsoft Research</li>
  <li> <a href="http://www.stat.lsa.umich.edu/~tewaria/">Ambuj Tewari</a>, UT Austin CS</li>
  <li> <a href="http://www-personal.umich.edu/~shuhengz/">Shuheng Zhou</a>, Univ. of Michigan Statistics</li>
  <li> <a href="http://pages.cs.wisc.edu/~jerryzhu/">Jerry Zhu</a>, Univ. of Wisconsin CS</li>
</ul>
